<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8">
    
    <meta name="viewport" content="width=device-width initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no" />
    <meta property="og:image" content="{{ site.baseurl}}/assets/images/logo_og.png"/>
    <meta property="og:url" content="https://gsalgo.github.io/BasisForGSAlgo/GSAlgo/"/>
    <meta property="og:description" content="경산과학고등학교 명문 동아리 GSAlgo로 오세요."/>
    <meta property="og:title" content="최고의 동아리 GSAlgo"/>

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    
    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
    <meta name="description" content="{{ site.description }}">
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/portfolio.css">
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">

    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    
    <link rel="shortcut icon" href="{{ site.baseurl }}/favicon.ico">
  </head>



  <body>



    {{ content }}


  </body>

  {% include portfolio.html %}

</html>
